<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${label}]]</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

    <script src="//code.jquery.com/jquery-2.2.4.min.js" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
<body th:with="branch = ${@hierarchyService.getBranch('secondaryMenu', _item.locale)}">


<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:each="node : ${branch.roots}" th:class="${node.belongsTo(_item)}? active : _">
                    <a href="#" >
                        [[${node.leaf.current.label}]]
                    </a>
                </li>

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<ul th:fragment="nodes(nodes)">-->
    <!--<li th:each="node : ${nodes}">-->
        <!--[[${node?.leaf?.current?.label}]]-->
        <!--<th:block th:replace="::nodes(${node.children})" />-->
    <!--</li>-->
<!--</ul>-->

<!--<th:block th:replace="::nodes(${branch.roots})" />-->


<h1>basicPage <small th:text="${_item.id}">#</small></h1>
[[${title[0]}]]



<!--<img th:src="@{/asset(uuid=${preview[0].uuid})}" class="img-responsive img-thumbnail">-->
</body>
</html>